.hero-container {
  background-image: url("../../user/banner.jpg");
  background-size: cover;
}

.hero {
  height: 50vh;
  background-color: transparent;
}

.hero-text-container {
  color: white;
  margin-top: -25vh;
}
