.hero-container {
  background-image: linear-gradient(to bottom, #FFFFFF00 85%, #FFFFFFFF),
  url("../../../public/user/banner.jpg");
  background-size: cover;
  background-position: center;
}

.hero {
  height: 60vh;
  background-color: transparent;
}

.hero-text-container {
  color: white;
  margin-top: -25vh;
}
