.about-container {
  padding-top: 1vh;
  margin-top: -35vh;
}

.about {
  background-color: white;
  outline: 1px solid black;
  box-shadow: 5px 5px 0px 2px #00000020;
}

.user-image-container {
  width: 45%;
  min-width: 120px;
  max-width: 180px;
}

.user-image {
  padding-top: 100%;
  max-width: 100%;
  background-image: url("../../user/profile.jpg");
  background-size: contain;
}

.user-name {
  font-weight: 400;
}