@import "../../../App.scss";

.card {
  width: 100%;
  text-decoration: none;
  background-color: white;
  color: black;
  @include transition-default(all);

  &:focus, &:hover {
    color: lightskyblue;
    box-shadow: 0px 0px 0px 3px lightskyblue;
  }
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-image-placeholder {
  width: 100%;
  height: 150px;
  line-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background-color: grey;

  span {
    text-align: center;
    line-height: 20px;
    overflow-wrap: normal;
    color: white;
    font-weight: bold;
  }
}

.card-text {
  text-align: justify;
}